$color: #4BC14F;

.quiz-img-container {
  width: 567px;
  height: 310px;
}

.quiz-title {
  width: 424px;
  height: 20px;
  opacity: 0.8;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.43;
  letter-spacing: -0.2px;
  text-align: center;
  color: $color;
}
