.quizCreate {
  margin-left: 465px;
}

.naver-login {
  position: relative;
  top: 55px;

  img {
    width: 229px;
    height: 48px;
  }
}

.globe-container {
  position: relative;
  margin: 0 auto;
  bottom: 20px;

  img {
    width: 142px;
  }
}

.logo-container {
  position: relative;
  margin: 0 auto;

  img {
    width: 367px;
  }
}

.anonymous-container {
  position: relative;
  top: 34px;
  opacity: 0.4;

  img {
    width: 95px;
  }
}
