#root {
  width: 100%;
}
.quizCreate {
  margin-left: 465px;
}
#paper {
  width: 440px;
}

.naverLogin img {
  width: 346px;
}

.navText {
  width: 120px;
  height: 20px;
  opacity: 0.8;
  font-family: NanumGothic;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.43;
  letter-spacing: -0.2px;
  text-align: center;
  color: rgba(67, 182, 73, 0.8);
}

.ananymous {
  width: 126px;
}
