#root {
  width: 100%;
}
.quizCreate {
  margin-left: 465px;
}
.quiz_a {
  width: 300px;
}
.home {
  margin-top: -200px;
}
.start-button {
  margin-top: 174px;
}

.webtoon-live-text-top {
  width: 337px;
  opacity: 0.8;
  font-family: NanumGothic;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgba(67, 182, 73, 0.8);
}

.webtoon-live-text-bottom {
  width: 337px;
  opacity: 0.8;
  font-family: NanumGothic;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.3px;
  text-align: center;
  color: rgba(67, 182, 73, 0.8);
}
